body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:  Helvetica, sans-serif;
    background: #f3f4f6;
}
.success{
    color: #31c971!important;
}
header{
    top: 0;
    position: fixed;
    background-color: #3c8dbc;
    padding: 20px;
    width: 100%;
    height: 30px;
}
.top_navbar .left_area{
    background-color: #367fa9;
    margin: 0;
    width: 250px;
    top: 0;
    position: fixed;
    left: 0;
    text-align: center;  
}
.left_area h3{
    color: #fff;
    font-weight: 900;
    height: 32px;  
}
.top_navbar .right_area {
    height: 30px;
    margin-right: 40px;
    float: right;
	justify-content: space-between;
	align-items: center;
    padding-left: 25px;
}
.right_area .profile .icon{
    width: 15px;
    height: 15px;
    color: #fff;
    padding-top: 4px;
    margin-left: 30px;
}
.right_area .profile img{
	width: 25px;
    height: 25px;
    border-radius: 25px;
    margin-left: 30px;
}
.top_navbar .right_area .profile{
	float: right;
    cursor: pointer;
    text-align: center;
    display: flex; 
}
.right_area .profile .name{
    margin: 0 15px;
    padding-top: 3px;
    color: #fff;
}
.sidebar{
    background-color: #222d32;
    width: 250px;
    height: 100%;
    left: 0;
    position: fixed;
    margin-top: 70px;
    transition: 0.2s;
    transition-property: left;  
}
.scrollable{
    position: fixed;
    width: 269px;
    top: 0px;
    overflow-y: scroll;
}
.sidebar .user-profile{
    padding: 10px;
    display: flex;
}
.sidebar .user-profile .profile-image img{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    margin-bottom: 10px;
}
.sidebar .user-profile .profile-info{
    padding-left: 15px;
    color: #fff;
    line-height: 1;
    padding-top: 5px;
    font-size: 16px;
}
.sidebar .user-profile .profile-info p{
   padding: 0;
   margin-bottom: 5px;
   margin-top: 0;  
}
.sidebar .user-profile .profile-info span{
    font-size: 12px;
    padding-top: 15px;  
}
.sidebar-form{
    display: flex;
    justify-content: center;
    margin: 0;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.sidebar-form .input-group .input-group-btn{
    margin-left: 0;
}
ul, li {
    list-style: none;
    text-decoration: none;
}
.sidebar-menu{
    padding: 0;
}
.sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden;
    color: #4b646f;
    background: #1a2226;
    left: 0;
}
.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 10px;
}
.sidebar-menu>li.active>a {
    border-left-color: #3c8dbc;
}
.sidebar-menu>li:hover>a, .sidebar-menu>li.active>a, .sidebar-menu>li.menu-open>a {
    color: #fff;
    background: #1e282c;
}
.sidebar-menu>li>a {
    border-left: 3px solid transparent;
}
.sidebar-menu a{
    width: 100%;
    line-height: 30px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 14px;
}
.sidebar-menu a:hover{
    background-color: #1e282c;
}
.sidebar-menu span{
    padding-left: 10px;
}
.sidebar a {
    color: #b8c7ce;
}
.sidebar-menu li>a {
    position: relative;
}
.sidebar-menu>li>a {
    padding: 12px 5px 12px 15px;
    display: block;
}
.red-icon{
    color:  #dd4b39;
}
.yellow-icon{
    color:  #f39c12;
}
.blue-icon{
    color: #00c0ef;
}
.green-icon{
    color: #00a65a;
}
label #sidebar-btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition-property: color;
}
label #sidebar-btn:hover{
    color: #f3f4f6;
}
#check:checked ~ .sidebar{
    left: -250px;
    transition: all 0.2s ease;
}
#check:checked ~.sidebar a{
    display: none;
}
#check:checked ~.sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}
.content{
    width: (100% - 250px);
    padding: 20px;
    margin-left: 250px;
    background-position: center;
    background-size: cover;
    height: 100%;
    transition: 0.2s;
    background: #f3f4f6;
}
#check:checked ~ .content{
    margin-left: 0px;
}
#check:checked ~ .sidebar .profile_info{
    display: none;
}
#check{
    display: none;
}
main {
    background: #f3f4f6;
    grid-area: main;
    height: 100%;
}
.main__container {
    padding: 60px 15px;
}
.main__title {
    display: flex;
    align-items: center;
}
.main__greeting > h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
}
.main__greeting > span {
    font-size: 14px;
    font-weight: 500;
    color: #a5aaad;
}
.main__greeting .heading{
    font-size: 20px;
    color: black;
}
.main__cards {
    display: flex;
    gap: 30px;
    margin: 20px 0;
}
.card{
    display: block;
    min-height: 100px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
}
.card_inner > p{
    font-size: 14px;
    display: block;
    font-size: 14px;
    white-space: nowrap;    
}
.card_inner > span {
    font-size: 16px;
    font-weight: 600;
}
.info-bg{
    background-color: #00c0ef;
}
.info-dark-bg{
    background-color: #148eac;
}
.red-bg{
    background-color: #dd4b39;
}
.red-dark-bg{
    background-color: #a53829;
}
.green-bg{
    background-color: #00a65a;
}
.green-dark-bg{
    background-color: #057e47;
}
.yellow-bg{
    background-color: #f39c12;
}
.yellow-dark-bg{
    background-color: #be7a0b;
}
.main__cards .card .icon-box{
    height: 100px;
    float: left;
    margin-left: 0;
    width: 100px;
    display: block;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    box-sizing: border-box;
  }
.icon-box i{
    color: #fff;
}
.card_inner {
    padding: 0px 10px;
    margin-left: 100px;
}
.main__cards .box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.charts {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.charts_header{
    display: grid;
    background: #ffffff;
    border-radius: 2px;
    padding: 15px;
    font-size: 16px;  
}
.charts_header_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:  rgba(0,0,0,0.1);
}
.charts_icons > span > i{
    color: #888;
    font-size: 14px;
    margin-left: 10px;
}
.charts_body{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
.charts__left {
    border-radius: 2px;
    background: #ffffff;
    justify-content: center;
    text-align: center;
    margin-top: 1px;
}
.charts__left__title {
    align-items: center;
    text-align: center;
    justify-content: center;
}
.charts__right {
    border-radius: 2px;
    background: #ffffff;
    margin-top: 1px;
}
.charts__right__title {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}
.chartimage{
    width:100%;
    object-fit: cover;
    overflow: hidden;
}
.light-grey{
    background-color: #f3f4f6;
}
.progress-container{
    margin-right: 15px;
    margin-left: 20px;
    text-align: right;
    margin-bottom: 30px;
}
.progress-container > span{
    font-weight: 900;
}
.progress-text{
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
}
.charts_footer{
    display: grid;
    background: #ffffff;
    border-radius: 2px;
    border-bottom:  rgba(0,0,0,0.1);
    font-size: 14px;
    margin-top: 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card-footer{
    display: block;
    height: 100px;
    background: #fff;
    width: 100%;
    border-radius: 2px;
    margin-right: 1px;
}
.card_inner_footer {
   justify-content: center;
   text-align: center;
   align-items: center;
   margin-top: 20px;
   border-right: 1px solid #f5f5f5;
}
.card_inner_footer .box-text {
    font-weight: 900;
}
.reports{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;
    margin: 20px 0;
}
.reports-body{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-top: 1px;
}
.reports__left {
    border-radius: 2px;
    background: #ffffff;
    justify-content: center;
    text-align: center;
    margin-top: 1px;
    box-sizing: border-box;
  }
.chartimage1{ 
    width:100%;
    object-position: center; 
}
.reports__right{  
    margin-top: 1px;
}
.card-report{
    display: grid;
    color: #fff;
    width: 100%;
    border-radius: 2px;
    margin-right: 1px;
    margin-bottom: 10px;
}
.card-report > p > span{
    font-size: 14px;
}
.card-report .card_inner_report {
   justify-content: center;
   text-align: center;
   align-items: center;
   border-bottom-right-radius: 2px;
   padding-top: 10px; 
}
.card_inner_report .box-text {
    font-weight: 900;
    color: #fff;
}
.card_inner_report > span{
    margin-bottom: 10px;
    color: #fff;
}
.report-card{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px;
    color: #fff;
}
.cards{
    display: block;
    height: 100px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 400px;
   
}
.report-card .card .icon-box{
    height: 100px;
    float: left;
    margin-left: 0;
    width: 100px;
    display: block;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    box-sizing: border-box;
}
.report-card .card_inner {
    margin-left: 100px;
}
.box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.report-card .progress-container{
    text-align: right;
    margin-bottom: 30px;
}
.progress-container > span{
    font-weight: 900;
}
.progress-text{
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
}
@media(max-width: 1200px){
    .main__cards {
        display: grid;
        margin: 20px 0;
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width: 960px){
    .charts_body{
        display: grid;
        grid-template-columns: 1fr;
    }
    .charts_footer{
        display: grid;
        grid-template-columns: 1fr;
    }
    .reports{
        display: grid;
        grid-template-columns: 1fr;
        gap:60px;
    
    }
    .report-card{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 30px;
        color: #fff;
    }
    #check:checked ~ .reports{
        gap: 60px;
    }
}
@media(max-width: 788px){
    .main__cards {
        display: grid;
        margin: 20px 0;
        grid-template-columns: 1fr;
    }
    .reports-body{
        display: grid;
        grid-template-columns: 1fr;
    }
    .reports{
        display: grid;
        grid-template-columns: 1fr;
        gap:60px;
    }
    .cards{
        display: grid;
        height: 100px;
        background: #fff;
        width: 100%;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        border-radius: 2px;
        margin-bottom: 740px;
    }  
}
@media only screen and (max-width: 480px) {
    .sidebar {
      display: none;
    }
    .content {
        margin-left: 0px;
    } 
}