*, ::after, ::before {
    box-sizing: border-box;
}
:root{
    --font-family-sans-serif: "Segoe UI",Roboto,"Helvetica Neue",Arial;
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
body{
    display: flex;
    background-color: #f9f9fa;
    min-height: 100vh;
    overflow-x: hidden;
}
.text-info{
    color:  #12ebeb!important;
}
.text-danger{
    color: #f54394!important;
}
.bg-danger {
    background-color: #f54394!important;
}
.bg-success {
    background-color: #31c971!important;
}
.active{
    background-color: #448bff!important;
    color:white;
 }
.vertical-nav{
    
    background-color: #f5f5f6;
    min-width: 13.5rem;
    width: 13.5rem;
    top: 0;
    left: 0;
    font-size: 1rem;
    font-size: .865rem;
    font-weight: 400;
    color: #5e676f;
}
.nav>li.active>a>i{
    color: #448bff!important;
}
.text-dark{
    color: #5e676f!important; 
}
.d-inline {
    display: inline!important;
}
svg { 
    vertical-align: middle; 
    color: #448bff; 
}
.nav-brand{
    letter-spacing: -1px;
    font-weight: 600;
    color: #397ae4;
    font-size: 1.125rem;
    line-height: 1;
}
#sideNav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f5f5f6;
    min-width: 13.5rem;
    width: 13.5rem;
}
.page-content{
    width: calc(100% - 13.5rem);
    margin-left: 13.5rem;
}
#sidebar.active{
    margin-left: -13.5rem;
}
#content.active{
    width: 100%;
    margin: 0 ;
}
.text-muted {
    color: #99a0ac!important;
}
::placeholder {
    color:#d7d7ec!important;

}
.nav-header{
    position: sticky;
    top: 0;
    background-color: #f9f9fa;
    display: flex;
}
.layout-row>.flex {
    min-width: 0;
}
.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.layout-column {
    -ms-flex-direction: column;
    flex-direction: column;
}
.layout, .layout-column, .layout-row {
    display: flex;
}
.navHeader{
    position: sticky;
    top: 0;
    z-index: 1035!important;
    background-color:  #f9f9fa;
    display: block;
}
.no-border {
    border-color: transparent!important;
    border-width: 0!important;
}
.no-shadow {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.no-bg {
    background: 0 0!important;
}
.d-flex {
    display: flex!important;
}
.searchForm, .form-control{
    font-size: .825rem;
}
@media (min-width: 992px){
.d-lg-none {
    display: none!important;
}
}
.padding{
    padding: 2rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.row-sm .col, .row-sm [class*=col-] {
    padding-left: .5rem;
    padding-right: .5rem;
}
.row-sm {
    margin-left: -.5rem;
    margin-right: -.5rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row-sm .block, .row-sm .card {
    margin-bottom: 1rem;
}
.card{
    border-color: transparent!important;
    border-width: 0!important;
}
#worldmap{
    
    justify-content: center;
    visibility: visible;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;

}
.progress{
    font-size: .65625rem;
}
.align-items-center {
    align-items: center!important;
}
.circle {
    border-radius: 500px;
}
.progress-bar {
    height: 100%;
    
    border-radius: .25rem;
}
.scrollable{
        position: fixed;
        top: 3.8rem;
        bottom: 0;
        width: 13.5rem;
        overflow-y: scroll;
}
.test {
    width: 60px;
    height: 60px;
    background-color: #0bd65f;
    justify-content: center;
    align-items: center;
    position: relative;
  }
@media(max-width:564px)
{
    #sidebar {
        margin-left: -13.5rem;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        margin:0;
    }
    #content.active {
        margin-left: 13.5rem;
        width: calc(100% - 13.5rem);
    }
    #mainNavbar {
        height: 70px;
        flex-direction: row;
    }
}